.o-grid-row(data-o-grid-colspan='center 8')
  .o-teaser-collection
    if results[0].results
      include ../components/pagination
      h2.o-teaser-collection__heading.o-teaser-collection__heading(data-cy='results-header') Search results for "#{term}"
      ul.o-teaser-collection__items(data-cy='results-list')
        each result in results[0].results
          li.o-teaser-collection__item
            .o-teaser.o-teaser--large(data-o-component='o-teaser')
              .o-teaser__content
                h3.o-teaser__heading
                  a(href=result.location.uri)= result.title.title
                p.o-teaser__standfirst= result.editorial.subheading
                .o-teaser__timestamp
                time.o-date.o-teaser__timestamp(data-o-component='o-date', datetime=result.lifecycle.initialPublishDateTime)
      include ../components/pagination
    else
        h2.o-teaser-collection__heading.o-teaser-collection__heading(data-cy='results-header') No results found for "#{term}"
